/* Top bar styles */

header {
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* justify-content: space-between; */
    padding: 5px;
}

/* Centered header */

.centered-heading {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

/* Header bar items */

nav ul {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0px;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    margin-left: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #888;
}

/* Content styles */

.content {
    margin: 20px;
}

h1 {
    color: #fff;
    font-size: 32px;
}

/* Modern styles */

body {
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

a {
    color: #fff;
    transition: all 0.3s ease;
}

a:hover {
    color: #888;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Auth buttons */

.auth-buttons {
    display: inline-block;
    margin-left: auto;
}

.auth-buttons a {
    background-color: #333;
    color: white;
    text-decoration: none;
}

.auth-buttons a:hover {
    color: #888;
}

/* Login and signup */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
    display: flex;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #888;
    color: #fff;
    transition: all 0.3s ease;
}

/* Bottom right image */

.bottom-right-image {
    position: fixed;
    bottom: 0px;
    right: 40px;
    width: auto;
    height: 250px;  /* Adjust the width and height as needed */
}