<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'alert.html' %}
    <div class="content">
        <h1>Welcome to the Admin Panel!</h1>
        Here you can see all the reviews that were reported.
        You can delete a review, remove the user from the database (and eveything linked to him)
        and remove reports.

        <div class="container">
            <form class="form" method="POST" enctype="multipart/form-data">
                <h2>Sign up a new administrator</h2>
                <p style="margin-bottom: 2rem;">The email cannot conflict with an existing email in the database
                    (being from a Student or from another Administrator)</p>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <div class="form-group">
                    <button type="submit" name="new_admin_button">Sign Up</button>
                </div>
            </form>
        </div>

        <div class="container">
            <form class="form" method="POST" enctype="multipart/form-data">
                <h2>Remove an user (student or administrator)</h2>
                <p style="margin-bottom: 2rem;">Type their email below and they will be removed from the database.</p>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="email">Confirm email:</label>
                    <input type="email" id="confirm-email" name="confirm-email" required>
                </div>
                <div class="form-group">
                    <button type="submit" name="remove_admin_button">Remove</button>
                </div>
            </form>
        </div>

        {% if professor_reviews_reports %}
        <div class="content">
                <h2 style="margin-top: 3rem;">Professor reviews reports</h2>
                <table style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
                    <tr>
                        <th>Review</th>
                        <th style="min-width: 2rem;">Evaluation</th>
                        <th style="min-width: 8rem; text-align: center;">Action</th>
                    </tr>
                    {% for r in professor_reviews_reports %}
                    <tr>
                        <td>{{ r[1] }}</td>
                        <td style="min-width: 2rem;">{{ r[2] }} &#11088;</td>
                        <td style="text-align: center; min-width: 12rem; display: flex; gap: 0.25rem;">
                            <form method="POST"><button type="submit" title="Delete the review" name="delete_button" value="{{ {'professor_review': r} }}"></form>
                                &#10060;</button> <!-- "X" icon for deleting review -->
                            <form method="POST"><button type="submit" title="Remove user" name="ban_button" value="{{ r }}"></form>
                                &#9940;</button> <!-- "Block" icon for banning the user -->
                            <form method="POST"><button type="submit" title="Remove the report" name="remove_report_button" value="{{ {'professor_review': r} }}"></form>
                                &#9989;</button> <!-- "OK" icon to delete the report -->
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        {% endif %}

        {% if class_reviews_reports %}
        <div class="content">
                <h2 style="margin-top: 3rem;">Class reviews reports</h2>
                <table style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
                    <tr>
                        <th>Review</th>
                        <th style="min-width: 2rem;">Evaluation</th>
                        <th style="min-width: 8rem; text-align: center;">Action</th>
                    </tr>
                    {% for r in class_reviews_reports %}
                    <tr>
                        <td>{{ r[1] }}</td>
                        <td style="min-width: 2rem;">{{ r[2] }} &#11088;</td>
                        <td style="text-align: center; min-width: 12rem; display: flex; gap: 0.25rem;">
                            <form method="POST"><button type="submit" title="Delete the review" name="delete_button" value="{{ {'class_review': r} }}"></form>
                                &#10060;</button> <!-- "X" icon for deleting review -->
                            <form method="POST"><button type="submit" title="Ban user" name="ban_button" value="{{ r }}"></form>
                                &#9940;</button> <!-- "Block" icon for banning the user -->
                            <form method="POST"><button type="submit" title="Remove the report" name="remove_report_button" value="{{ {'class_review': r} }}"></form>
                                &#9989;</button> <!-- "OK" icon to delete the report -->
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        {% endif %}

        <img src="/static/images/anime/{{anime_image}}" alt="Image" class="bottom-right-image">
    </div>
</body>
</html>
