<!DOCTYPE html>
<html>
<head>
    <title>Classes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="content">
        <h2>Classes</h2>
        <!-- Add your content here -->
        Displayed below is a list with all classes from the selected discipline. Click on a row in order to review it.

        <h2 style="margin-top: 3rem;">Classes List</h2>
        <table style="margin-top: 1.5rem;">
            <tr>
                <th>Discipline</th>
                <th>Period</th>
                <th>Class</th>
                <th>Professor</th>
            </tr>
            {% for cl in classes %}
            <tr> <!-- I should make each <td> clickable -->
                <td style="padding: 0;">
                    <form method="POST">
                        <button
                            style="width: 100%; padding: 0.5rem; text-align: left;"
                            class="button list"
                            type="submit"
                            name="button_value"
                            value="{{ cl[2] }}">{{ cl[0] }}
                        </button>
                    </form>
                </td>
                <td style="padding: 0;">
                    <form method="POST">
                        <button
                            style="width: 100%; padding: 0.5rem; text-align: left;"
                            class="button list"
                            type="submit"
                            name="button_value"
                            value="{{ cl[2] }}">{{ cl[1] }}
                        </button>
                    </form>
                </td>
                <td style="padding: 0;">
                    <form method="POST">
                        <button
                            style="width: 100%; padding: 0.5rem; text-align: left;"
                            class="button list"
                            type="submit"
                            name="button_value"
                            value="{{ cl[2] }}">{{ cl[2] }}
                        </button>
                    </form>
                </td>
                <td style="padding: 0;">
                    <form method="POST">
                        <button
                            style="width: 100%; padding: 0.5rem; text-align: left;"
                            class="button list"
                            type="submit"
                            name="button_value"
                            value="{{ cl[2] }}">{{ cl[3] }}
                        </button>
                    </form>
                </td>
            {% endfor %}
        </table>

    </div>
    <img src="/static/images/anime/{{anime_image}}" alt="Image" class="bottom-right-image">
</body>
</html>
