<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <form class="form" method="POST" enctype="multipart/form-data">
            <h2>Edit profile</h2>
            <p style="margin-bottom: 1rem;">Only fill in the fields you'd like to edit.</p>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password">
            </div>
            <div class="form-group">
                <label for="name">Registration ID:</label>
                <input type="text" id="id" name="id">
            </div>
            <div class="form-group">
                {% include 'courses.html' %}
            </div>
            <div class="form-group">
                <label for="profile-picture">Profile Picture:</label>
                <input type="file" accept="image/*" id="profile-picture" name="profile-picture">
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <img src="/static/images/anime/{{anime_image}}" alt="Image" class="bottom-right-image">
</body>
</html>
