<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/ranking">Ranking</a></li>
        </ul>
    </nav>
    <h3 class="centered-heading">UnBoard</h3>
    <nav class="auth-buttons">
        <ul>
            <li {{hide_logged_status}}>Logged in as: {{user_email}}</li>
            <li {{hide_logged_panel}}><a href="/{{admin_student}}">{{admin_student}} Panel</a></li>
            <li><a href={{login_redirect}}>{{login_logout}}</a></li>
            <li class={{hide_signup_button}}><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
</header>