{% if is_admin %}
    {% set admin_panel = '' %}
{% else %}
    {% set admin_panel = 'hidden' %}
{% endif %}

{% if is_logged %}
    {% set student_panel = '' %}
    {% set logged_status = '' %}
    {% set logout = '' %}
    {% set login = 'hidden' %}
    {% set signup = 'hidden' %}
{% else %}
    {% set student_panel = 'hidden' %}
    {% set logged_status = 'hidden' %}
    {% set logout = 'hidden' %}
    {% set login = '' %}
    {% set signup = '' %}
{% endif %}


<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/disciplines">Disciplines</a></li>
            <li><a href="/professors">Professors</a></li>
        </ul>
    </nav>
    <h3 class="centered-heading">UnBoard</h3>
    <nav class="auth-buttons">
        <ul>
            <li {{ logged_status }}                    >Logged in as: {{ user_email }}</li>
            <li {{ admin_panel }}   ><a href="/admin"  >Admin Panel</a></li>
            <li {{ student_panel }} ><a href="/student">Student Panel</a></li>
            <li {{ login }}         ><a href='/login'  >Login</a></li>
            <li {{  logout}}        ><a href='/logout' >Logout</a></li>
            <li {{ signup }}        ><a href="/signup" >Sign Up</a></li>
        </ul>
    </nav>
</header>

{% include 'alert.html' %}