<!DOCTYPE html>
<html>
<head>
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div class="content">
        <h1>Reviews</h1>
        <!-- Add your content here -->
        {% if professor_to_review %}
            You are reviewing the professor {{ professor_to_review }}.
        {% elif class_to_review %}
            You are reviewing the class {{ class_to_review }} from the discipline {{ discipline_to_review }}.
        {% endif %}

        <div class="container">
            <form class="form" method="POST" action="{{ url_for('reviews') }}">
                <h2>Review</h2>
                <div class="form-group">
                    <textarea name="review" class="text-box" placeholder="Type your review..."></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        <!-- Check whether the user is authenticated or not -->
        <!-- If authenticated, show the report button on reviews -->
        {% if is_logged %}
            {% set is_hidden='' %}
        {% else %}
            {% set is_hidden='hidden' %}
        {% endif %}
        {% if reviews_list %}

        <h1 style="margin-top: 3rem;">Reviews List</h1>
        <table style="margin-top: 1.5rem;">
            <tr>
                <th>Review</th>
                <th {{is_hidden}} style="min-width: 8rem; text-align: center;">Action</th>
            </tr>
            {% for r in reviews_list %}
            <tr>
                <td>{{ r[1] }}</td>
                <td {{is_hidden}} style="text-align: center; min-width: 8rem;" >
                    <form method="POST">
                        <button
                            type="submit"
                            title="Report review"
                            name="report_button"
                            value="{{ r }}">
                            &#128681;
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <img src="/static/images/anime/{{anime_image}}" alt="Image" class="bottom-right-image">
    </div>
</body>
</html>
