<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/disciplines">Disciplines</a></li>
                <li><a href="/professors">Professors</a></li>
            </ul>
        </nav>
        <h3 class="centered-heading">UnBoard</h3>
        <nav class="auth-buttons">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <form class="form" method="POST" enctype="multipart/form-data">
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="name">Name:<p style="color: firebrick;">*</p></label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:<p style="color: firebrick;">*</p></label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:<p style="color: firebrick;">*</p></label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:<p style="color: firebrick;">*</p></label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <div class="form-group">
                <label for="name">Registration ID:</label>
                <input type="text" id="id" name="id">
            </div>
            <div class="form-group">
                {% include 'courses.html' %}
            </div>
            <div class="form-group">
                <label for="profile-picture">Profile Picture:</label>
                <input type="file" accept="image/*" id="profile-picture" name="profile-picture">
            </div>
            <div class="form-group">
                <button type="submit">Sign Up</button>
            </div>
            <p style="width: 100%; display: inline;">
                <i>Note: fields marked with
                    <p style="color: firebrick; display: inline;">*</p>
                    are necessary.</i></p>
        </form>
    </div>
    <img src="/static/images/anime/{{anime_image}}" alt="Image" class="bottom-right-image">
</body>
</html>
