<!DOCTYPE html>
<html>
<head>
    <title>Student Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="form">
            <h1>Welcome to the Student Panel!</h1>
            <img src="data:image/jpeg;base64,{{ user_profile_pic|base64_encode }}" alt="Profile Picture" class="profile-picture">
            <!-- Add your content here -->
            Hello, {{user_name}}.
            <img src="/static/images/anime/{{anime_image}}" alt="Random anime image :)" class="bottom-right-image">
        </div>
    </div>
    {% if professor_reviews %}
    <div class="content">
            <h2 style="margin-top: 3rem;">Your professor reviews</h2>
            <table style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
                <tr>
                    <th>Professor</th>
                    <th>Review</th>
                </tr>
                {% for r in professor_reviews %}
                <tr>
                    <td>{{ r[0] }}</td>
                    <td>{{ r[1] }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
    {% endif %}
    {% if class_reviews %}
    <div class="content">
            <h2 style="margin-top: 3rem;">Your classes reviews</h2>
            <table style="margin-top: 1.5rem;">
                <tr>
                    <th>Class code</th>
                    <th>Discipline name</th>
                    <th>Term</th>
                    <th>Professor</th>
                    <th>Schedule</th>
                    <th>Review</th>
                </tr>
                {% for r in class_reviews %}
                <tr>
                    <td>{{ r[0] }}</td>
                    <td>{{ r[1] }}</td>
                    <td>{{ r[2] }}</td>
                    <td>{{ r[3] }}</td>
                    <td>{{ r[4] }}</td>
                    <td>{{ r[5] }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
    {% endif %}
</body>
</html>
