<!DOCTYPE html>
<html>
<head>
    <title>Student Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="form">
            <h1>Welcome to the Student Panel!</h1>
            {% include 'profile-pic.html' %}
            <p style="margin-bottom: 2rem;"> Hello, {{user_name}}. </p>
            <img src="/static/images/anime/{{anime_image}}" alt="Random anime image :)" class="bottom-right-image">
            <h2>Your personal information</h2>
            {% for info in personal_information %}
            <ul class="list">
                <li>{{ info }}</li>
            </ul>
            {% endfor %}
            <form style="margin-top: 1rem;" method="POST">
                <button
                    class="button list"
                    style="font-size: medium; font-style: italic;"
                    type="submit"
                    title="Edit personal information"
                    name="edit-profile">
                    Edit profile
                </button>
                &#128221; <!-- Emoji icon (pen and paper) -->
            </form>
        </div>
    </div>
    {% if professor_reviews %}
    <div class="content">
        <h2 style="margin-top: 3rem;">Your professor reviews</h2>
        <table style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
            <tr>
                <th>Professor</th>
                <th>Review</th>
                <th style="min-width: 2rem;">Evaluation</th>
                <th style="min-width: 8rem; text-align: center;">Action</th>
            </tr>
            {% for r in professor_reviews %}
            <tr>
                <td>{{ r[0] }}</td>
                <td>{{ r[1] }}</td>
                <td style="min-width: 2rem;">{{ r[2] }} &#11088;</td>
                <td style="text-align: center; min-width: 8rem;" >
                    <form method="POST">
                        <button
                            type="submit"
                            title="Delete review"
                            name="button_delete"
                            value="{{ {'professor': r[0]} }}">
                            &#10060; <!-- "X" emoji icon to indicate deletion -->
                        </button>
                        <button
                            type="submit"
                            title="Edit review"
                            name="button_edit"
                            value="{{ {'professor': r} }}">
                            &#128221; <!-- Emoji icon (pen and paper) -->
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if class_reviews %}
    <div class="content">
            <h2 style="margin-top: 3rem;">Your classes reviews</h2>
            <table style="margin-top: 1.5rem; margin-left: 1rem; margin-right: 1rem; max-width: 90vw;">
                <tr>
                    <th>Class code</th>
                    <th>Discipline name</th>
                    <th>Term</th>
                    <th>Professor</th>
                    <th>Schedule</th>
                    <th>Review</th>
                    <th>Evaluation</th>
                    <th style="min-width: 12rem; text-align: center;">Action</th>
                </tr>
                {% for r in class_reviews %}
                <tr>
                    <td>{{ r[0] }}</td>
                    <td>{{ r[1] }}</td>
                    <td>{{ r[2] }}</td>
                    <td>{{ r[3] }}</td>
                    <td>{{ r[4] }}</td>
                    <td>{{ r[5] }}</td>
                    <td>{{ r[6] }} &#11088;</td>
                    <td style="text-align: center; min-width: 12rem;" >
                        <form method="POST">
                            <button
                                type="submit"
                                title="Delete review"
                                name="button_delete"
                                value="{{ {'class': r} }}">
                                &#10060; <!-- "X" button to indicate review deletion -->
                            </button>
                        <button
                            type="submit"
                            title="Edit review"
                            name="button_edit"
                            value="{{ {'class': r} }}">
                            &#128221; <!-- Emoji icon (pen and paper) -->
                        </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </div>
    {% endif %}
</body>
</html>
